body {
  margin:  0;
  padding: 0;
  font: 12pt sans-serif;
  line-height: 1.35em;
}

#books, aside details, aside p {
  max-width: 850px;
  margin-left:  auto;
  margin-right: auto;
}

#books, aside {
  padding: 1em;
}

#books {
  padding-top: 2em;
}

h3 {
  margin-bottom: none;
  line-height: 1.35em;
}

h2 {
  line-height: 1.35em;
}

img {
  margin-right: 1em;
  height: 180px;
}

.availability {
  background: rgba(141, 172, 27, 0.2);
  padding: 15px;
  margin-bottom: 3em;
  border-radius: 6px;
}

a {
  color: #698014;
}

a:hover {
  background: rgba(105, 128, 20, 0.2);
}

.no_local_copies a {
  color: #717171 !important;
}

.no_local_copies a:hover {
  background: rgba(161, 161, 161, 0.2) !important;
}

.no_local_copies .availability {
  background: rgba(161, 161, 161, 0.2) !important;
  margin-bottom: 1.5em;
  font-size: 0.8em;
  padding: 7px 10px;
}

.no_local_copies .book_summary {
  display: none;
}

.no_local_copies h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
}

.no_local_copies img {
  height: 75px;
  filter: saturate(0%);
}

footer {
  color: #bbb;
  font-size: small;
}

.book {
  display: grid;
  grid-template-columns: 180px auto;
}

.book_cover {
  grid-column: 1 / 2;
  text-align: center;
}

.book_metadata {
  grid-column: 2 / 2;
}

@media screen and (max-width: 500px) {
  .book {
    grid-template-columns: auto;
  }

  img {
    height: 200px;
  }

  .book_cover {
    grid-column: 1 / 1;
  }

  .book_metadata {
    grid-column: 1 / 1
  }

  .emptyspace {
    display: none;
  }
}

aside {
  background: #222;
  color: white;
}

aside p {
  margin-bottom: 0;
}

#branch_picker {
  column-count: 3;
  padding: 1em;
  background: #292929;
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 1em;
}

@media screen and (max-width: 500px) {
  #branch_picker {
    column-count: 1;
  }
}

#branch_picker p {
  margin-top:    3px;
  margin-bottom: 3px;
}

#selectedBranchCount {
  font-weight: bold;
}

.availability p {
  margin-top: 0;
}

.availability p:last-child {
  margin-bottom: 0;
}

.availability ul:last-child {
  margin-bottom: 3px;
}

.location_name {
  white-space: nowrap;
}
