<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>library books I want to read</title>

    <link rel="stylesheet" href="style.css">
    <script src="library_lookup.js"></script>

    <script>
      const books = {{ books | tojson }};

      window.onload = function() {
        const branchesInQuery = new URLSearchParams(document.location.search).getAll('branch');
        const branchesInLocalStorage = JSON.parse(window.localStorage.getItem("branchesSelected") || '[]');

        const branches = branchesInQuery + branchesInLocalStorage;

        if (branches.length > 0) {
          for (input of document.querySelectorAll("input")) {
            if (branches.includes(input.getAttribute("name"))) {
              input.checked = true;
            }
          }
        } else {
          // If no branches are selected, open the branch picker
          document.querySelector("#branch_picker").open = true;
        }

        renderBooks();
      };
    </script>

    <style>
    {% for book in books %}
      {% if book.tint_color is defined %}
        div[data-book-id="{{ book.id }}"] a {
          color: {{ book.tint_color }};
        }

        div[data-book-id="{{ book.id }}"] a:hover {
          background: {{ book.tint_color | rgba(opacity=0.2) }};
        }

        div[data-book-id="{{ book.id }}"] .availability {
          background: {{ book.tint_color | rgba(opacity=0.2) }};
        }
      {% endif %}
    {% endfor %}
    </style>
  </head>

  <body>
    <aside>
      <details id="branch_picker">
        <summary style="margin-bottom: 5px;">Select branches <span id="selectedBranchCount"></span></summary>

        {% for branch in branches | sort %}
          <p>
            <input
              id="branch-{{ branch }}"
              type="checkbox"
              name="{{ branch }}"
              value="{{ branch }}"
              onchange="renderBooks()"
            >
            <label for="branch-{{ branch }}">{{ branch }}</label>
          <p/>
        {% endfor %}
      </details>

      <p>
        Last updated on {{ generated_at.strftime('%A %-d %B %Y at %H:%M:%S') }}
      </p>
    </aside>

    <main>
      <div id="books">
        {% for book in books %}
        <div class="book" data-book-id="{{ book.id }}" data-book-title="{{ book.title }}" style="display: none;">
          <div class="book_cover">
            {% if book.image != None %}
              <img src="{{ book.image }}">
            {% endif %}
          </div>
          <div class="book_metadata">
            <h3>
              <a href="{{ book.record_details['Bookmark link'] }}">{{ book.title }}</a>,
              by {{ book.author | author_name }}
              (
                {{- book.publication_year -}}
                {%- if unique_titles[(book['title'], book['author'])] > 1 and book.format is defined -%}
                , {{ book.format }}
                {%- endif -%}
              )
            </h3>

            <p class="book_summary">{{ book.summary }}</p>

            <div class="availability">
              <strong>Availability:</strong>
              <div class="availabilityMessage"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>