<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>library books I want to read</title>

    <link rel="stylesheet" href="style.css">
    <script src="library_lookup.js"></script>

    <script>
      const books = {{ books | tojson }};

      window.onload = function() {
        const branchesInQuery = new URLSearchParams(document.location.search).getAll('branch');
        const branchesInLocalStorage = JSON.parse(window.localStorage.getItem("branchesSelected") || '[]');

        const branches = branchesInQuery + branchesInLocalStorage;

        if (branches.length > 0) {
          for (input of document.querySelectorAll("input")) {
            if (branches.includes(input.getAttribute("name"))) {
              input.checked = true;
            }
          }
        } else {
          // If no branches are selected, open the branch picker
          document.querySelector("#branch_picker").open = true;
        }

        renderBooks();

        const timeElement = document.querySelector("time");
        timeElement.innerHTML = getHumanFriendlyDateString(timeElement.getAttribute("datetime"));
      };
    </script>

    <style>
    {% for book in books %}
      {% if book.tint_color is defined %}
        div[data-book-brn="{{ book.record_details.BRN }}"] a {
          color: {{ book.tint_color }};
        }

        div[data-book-brn="{{ book.record_details.BRN }}"] a:hover {
          background: {{ book.tint_color | rgba(opacity=0.2) }};
        }

        div[data-book-brn="{{ book.record_details.BRN }}"] .availability {
          background: {{ book.tint_color | rgba(opacity=0.2) }};
        }
      {% endif %}
    {% endfor %}
    </style>
  </head>

  <body>
    <aside>
      <details id="branch_picker">
        <summary>Select branches <span id="selectedBranchCount"></span></summary>

        <div class="branches">

        {% for branch in branches | sort %}
          <p>
            <input
              id="branch-{{ branch }}"
              type="checkbox"
              name="{{ branch }}"
              value="{{ branch }}"
              onchange="renderBooks()"
            >
            <label for="branch-{{ branch }}">{{ branch }}</label>
          <p/>
        {% endfor %}
        </div>
      </details>

      <p>
        Last updated
        <time datetime="{{ generated_at.isoformat() }}">
          {{ generated_at.strftime('%A %-d %B %Y at %H:%M:%S') }}
        </time>
      </p>
    </aside>

    <main>
      <div id="books">
        {% for book in books %}
        <div class="book" data-book-brn="{{ book.record_details.BRN }}" data-book-title="{{ book.title }}">
          <div class="book_cover">
            {% if book.image != None %}
              <img src="{{ book.image }}" style="aspect-ratio: {{ book.image_width }} / {{ book.image_height }}" loading="lazy">
            {% endif %}
          </div>
          <div class="book_metadata">
            <h3>
              <a href="{{ book.record_details['Bookmark link'] }}">{{ book.title.replace(' : ', ': ') }}</a>{% if book.author %},
              by {{ book.author | author_name }}
              {% endif %}
              {% if book.publication_year %}
              (
                {{- book.publication_year -}}
                {%- if unique_titles[(book['title'], book['author'])] > 1 and book.format is defined -%}
                , {{ book.format }}
                {%- endif -%}
              )
              {% endif %}
            </h3>

            <details>
              <summary>Summary</summary>

              {% for paragraph in book.record_details['Summary'] %}
                <p class="book_summary">{{ paragraph }}</p>
              {% endfor %}
            </details>

            <div class="availability">
              <strong>Availability:</strong>
              <div class="availabilityMessage"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>